In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv("Income_Train.csv")

In [3]:
train_data.shape

(209499, 43)

In [4]:
train_data.isnull().sum()

ID                                     0
age                                    0
gender                                 0
education                              0
class                             105245
education_institute               196197
marital_status                         0
race                                   0
is_hispanic                            0
employment_commitment                  0
unemployment_reason               202979
employment_stat                        0
wage_per_hour                          0
is_labor_union                    189420
working_week_per_year                  0
industry_code                          0
industry_code_main                     0
occupation_code                        0
occupation_code_main              105694
total_employed                         0
household_stat                         0
household_summary                      0
under_18_family                   151654
veterans_admin_questionnaire      207415
vet_benefit                            0
tax_status                             0
gains                                  0
losses                                 0
stocks_status                          0
citizenship                            0
mig_year                               0
country_of_birth_own                   0
country_of_birth_father                0
country_of_birth_mother                0
migration_code_change_in_msa        1588
migration_prev_sunbelt             88452
migration_code_move_within_reg      1588
migration_code_change_in_reg        1588
residence_1_year_ago              106284
old_residence_reg                 193148
old_residence_state               193148
importance_of_record                   0
income_above_limit                     0
dtype: int64

In [5]:
train_data1 = train_data.drop(["ID","education_institute","employment_commitment","household_stat","unemployment_reason","is_labor_union","under_18_family","veterans_admin_questionnaire","old_residence_state","old_residence_reg","migration_prev_sunbelt","migration_code_change_in_msa","migration_code_move_within_reg","occupation_code_main","residence_1_year_ago","country_of_birth_own","country_of_birth_father","country_of_birth_mother","migration_code_change_in_reg"], axis=1)

In [6]:
train_data1.shape

(209499, 24)

In [7]:
pd.set_option("display.max_columns", None)

In [8]:
obj = train_data1.select_dtypes(include= 'object').columns
obj

Index(['gender', 'education', 'class', 'marital_status', 'race', 'is_hispanic',
       'industry_code_main', 'household_summary', 'tax_status', 'citizenship',
       'income_above_limit'],
      dtype='object')

In [9]:
obj = train_data1.select_dtypes(include= 'object').columns
obj

Index(['gender', 'education', 'class', 'marital_status', 'race', 'is_hispanic',
       'industry_code_main', 'household_summary', 'tax_status', 'citizenship',
       'income_above_limit'],
      dtype='object')

In [11]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()

for i in obj:
    train_data1[i]=l.fit_transform(train_data1[i].astype(str))

train_data1.head(2)

,age,gender,education,class,marital_status,race,is_hispanic,employment_stat,wage_per_hour,working_week_per_year,industry_code,industry_code_main,occupation_code,total_employed,household_summary,vet_benefit,tax_status,gains,losses,stocks_status,citizenship,mig_year,importance_of_record,income_above_limit
0,79,0,12,8,6,4,0,0,0,52,0,14,0,2,4,2,0,0,0,292,4,95,1779.74,1
1,65,0,12,8,6,4,0,0,0,0,0,14,0,0,4,2,5,0,0,0,4,94,2366.75,1

In [12]:
train_data1["income_above_limit"] = train_data1["income_above_limit"].map({1:0,0:1})

In [13]:
train_data1.head(2)

,age,gender,education,class,marital_status,race,is_hispanic,employment_stat,wage_per_hour,working_week_per_year,industry_code,industry_code_main,occupation_code,total_employed,household_summary,vet_benefit,tax_status,gains,losses,stocks_status,citizenship,mig_year,importance_of_record,income_above_limit
0,79,0,12,8,6,4,0,0,0,52,0,14,0,2,4,2,0,0,0,292,4,95,1779.74,0
1,65,0,12,8,6,4,0,0,0,0,0,14,0,0,4,2,5,0,0,0,4,94,2366.75,0